<mat-card class="mt20">
  <div class="container">
   <div class="row">
     <div class="col-md-12">
       <mat-card-header>
         <mat-card-title>
           Bienvenido Admin o Desarrollador( de ser lo segundo recuerda usar el nvm, Dios te libre de equivocarte)
         </mat-card-title>
       </mat-card-header>
       <mat-card-subtitle>Panel de administracion</mat-card-subtitle>
       <mat-card-content class="ml30">
         <h1></h1>
         <p></p>
         <mat-divider></mat-divider>
         <br>
         <h1>Intrucciones generales : </h1>
         <ul>
           <li>Para eliminar algun item por ejemplo una categoria, debes primero asegurarte de que no hay productos que esten atribuidos a esa categoria</li>
           <p>de lo contrario no podras eliminarlo y te saldra un mensaje negativo.</p>
         </ul>
         <ul>
          <li>Si aparece un error a la hora de mostrar productos, cierre e inicie sesion nuevamente</li>
        </ul>
         <mat-divider></mat-divider>
         <br>
         <mat-divider></mat-divider>
         <br>
         <h1>Carta de avisos : </h1>
         <ul>
          <li><b>Correciones:</b></li>
          <li>Que feo ver esos rojos en medio, pero mas aun ver que me da un error invisible en el proyecto</li>

        </ul>
         <mat-divider></mat-divider>
         <br>
       </mat-card-content>
     </div>
   </div>
  </div>
</mat-card>
