
<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink = "/admin" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>
    <button mat-list-item routerLink = "/admin/categorias">
      <mat-icon mat-list-icon>list</mat-icon>Categorías
    </button>
    <button mat-list-item routerLink = "/admin/add-categoria">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar categoría
    </button>
    <button mat-list-item routerLink = "/admin/cursos">
      <mat-icon>vertical_split</mat-icon>Productos
    </button>
    <button mat-list-item routerLink = "/admin/add-producto">
      <mat-icon mat-list-icon>add</mat-icon>Agregar Productos
    </button>
    <input type="button" value="Close this window" onclick="self.close()">
  </mat-action-list>
</mat-card>


